<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 text-white">Sisteme de rastreo para tus vehículos</h1>
            <h3 class="mb-5 text-white">
                <em>Rastrea a tus vehículos</em>
            </h3>
            <a href="/signup" class="btn btn-dark">
                ¡Empieza ya!
            </a>

        </div>
    </header>
</main>