<body>

  <!-- Formulario-->
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <form action="/vehicles/add" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="nameDriver" placeholder="Nombre del conductor"
                  autofocus />
              </div>
              <div class="form-group">
                <input id="plate" type="text" class="form-control" name="vehiclePlate"
                  placeholder="Placa del vehículo" />
              </div>
              <div class="form-group">
                <input type="text" name="phone" class="form-control" placeholder="Teléfono del conductor" />
              </div>
              <div class="form-group">
                <textarea name="description" id="" rows="2" class="form-control" placeholder="Descripción"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-success btn-block">
                  Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>