*{
    margin: 0;
}
body{

}
.map{
    display: block;
    align-self: center;
    float: right;
    width: 70%;
    height: 655px;
}
.Informacion{
    float:left;
    margin:0;
    position: relative;
    display: block;
    height: 655px;
    width: 30%;
    color: #000000;
    align-content: center;
    text-align: center;
    align-items: center;
}
.Informacion h1{
    margin-top: 15px;
}
.Informacion img{
    margin-top: 0;
}

